body {
	background-color: #ff6600;
	font: 16px Arial;
	color: #333;
}

.titlediv {
	margin: 0 auto;
    color: #ffffff;
    position: absolute;
    top: 40%;
    width: 100%;
}

.titletext {
	text-align: center;
}